{erl_opts, [debug_info]}.
{deps, [
  {generic_box,{git,"https://bitbucket.org/natesh_c/generic_box.git",{branch, "master"}}},
  {cowboy,{git, "https://github.com/ninenines/cowboy.git", {tag,"1.0.4"}}},
  {worker_pool,{git,"https://bitbucket.org/natesh_c/worker_pool.git",{branch, "master"}}},
  {parserl,{git,"https://bitbucket.org/natesh_c/parserl.git",{branch,"master"}}},
  {cache_db, ".*", {git, "https://bitbucket.org/regupathy/cache_db.git"}},
  {gabby_reference,{git,"https://bitbucket.org/regupathy/gabby_reference.git",{branch, "master"}}}
]}.
{relx, [{release, {console_management, "1" },
  [ sasl,
    generic_box,
    worker_pool,
    gabby_reference,
    parserl,
    console_management
  ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},
  {include_src, false},
  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_src, false},
  {system_libs, true},
  {include_erts, true}]}]
}]
}.